/*Pagina*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Istok Web", sans-serif;
}

/*Variables*/
:root {
    --color1: #000000;
    --color2: #191919;
    --color3: #323232;
    --color4: #ffffff;
    --color5: #dbdbdb;
    --min-width: 360px;
}

/*Body*/
body {
    background-color: var(--color3);
    min-width: var(--min-width);
}

/*Barra de Navegación*/
/*Contenedor*/
.cont-nav {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: 80px;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color2);
    color: var(--color4);
    border-radius: 10px;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

/*Nav-logo*/
.nav-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-img_logo {
    height: 36px;
}

/*Nav-listas*/
.nav-ul {
    position: absolute;
    flex-direction: column;
    border-radius: 10px;
    top: 20px;
    right: 20px;
    height: 0;
    transform: scaleY(0);
    width: 10.5rem;
    background-color: var(--color2);
    overflow: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
    z-index: -100;
}

.nav-ul_li {
    cursor: pointer;
    display: inline-block;
    text-align: right;
    -webkit-tap-highlight-color: transparent;
    opacity: 0;
}

.nav-ul_li > a {
    text-decoration: none;
    color: var(--color4);
}

/*Menu Hamburguesa*/
.nav-bar__checkbox {
    display: none;
}

.nav-bar__label{
    cursor: pointer;
    font-size: 20px;
    -webkit-tap-highlight-color: transparent;
}

.nav-bar__label:focus {
    outline: none;
    box-shadow: none;
}

.nav-bar__checkbox:checked ~ .nav-ul {
    display: flex;
    opacity: 1;
    transform: scaleY(1);
    height: 9rem;
    width: 10.5rem;
    padding: 20px;
    justify-content: end;

    .nav-ul_li {
        font-size: 1em;
        opacity: 1;
    }
}