/*Pagina*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Istok Web", sans-serif;
}

/*Variables*/
:root {
    --color1: #000000;
    --color2: #191919;
    --color3: #323232;
    --color4: #ffffff;
    --color5: #dbdbdb;
    --min-width: 360px;
}

/*Body*/
body {
    background-color: var(--color3);
    min-width: var(--min-width);
}

/*Barra de Navegación*/
/*Contenedor*/
.cont-nav {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: 80px;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color2);
    color: var(--color4);
    border-radius: 10px;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

/*Nav-logo*/
.nav-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-img_logo {
    height: 36px;
}

/*Nav-listas*/
.nav-ul {
    position: absolute;
    flex-direction: column;
    border-radius: .5rem;
    top: 20px;
    right: 20px;
    height: 0;
    transform: scaleY(0);
    width: 10.5rem;
    gap: .5rem;
    overflow: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
    z-index: -100;
}

.nav-ul_li {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: .7em;
    -webkit-tap-highlight-color: transparent;
    font-size: 1em;
    border-radius: .5rem;
    opacity: 0;
}

.li-a {
    text-decoration: none;
    color: var(--color4);
}

.log1 {
    background-color: var(--color5);

    a {
        color: var(--color1);
    }
}

.log2 {
    background-color: var(--color1);
}

/*Menu Hamburguesa*/
.nav-bar__checkbox {
    display: none;
}

.nav-bar__label{
    cursor: pointer;
    font-size: 20px;
    -webkit-tap-highlight-color: transparent;
}

.nav-bar__label:focus {
    outline: none;
    box-shadow: none;
}

.nav-bar__checkbox:checked ~ .nav-ul {
    display: flex;
    opacity: 1;
    transform: scaleY(1);
    height: 20.2rem;
    width: 11rem;
    gap: .3rem;
    background-color: var(--color2);
    justify-content: end;

    .listCont, .logCont {
        display: flex;
        flex-direction: column;
        gap: .2em;
    }

    .nav-ul_li {
        opacity: 1;
    }

    .liLog {
        padding: .3em;
        margin-left: .5em;
        margin-right: .5em;
        border-radius: .5em;
    }

    .log1 {
        margin-top: 2em;
    }

    .log2 {
        margin-top: .2em;
        margin-bottom: .5em;
    }
}

/*Responsive*/
@media screen and (min-width: 1024px) {
    .nav-bar__label{
        display: none;
    }
    
    /*Nav-listas*/

    .nav-bar {
        width: 100%;
    }

    .nav-ul {
        position: static;
        display: flex;
        flex-direction: row;
        height: auto;
        transform: scaleY(1);
        width: auto;
        overflow: visible;
        justify-content: space-between;
        gap: .5em;
        opacity: 1;
        z-index: 10;
    }

    .nav-ul_li {
        cursor: pointer;
        padding: 0;
        -webkit-tap-highlight-color: transparent;
        opacity: 1;
    }

    .li-a {
        padding: .11rem 1rem;
        min-width: 4rem;
    }

    .li-a1 {
        background-color: var(--color5);
        color: var(--color1);
        border-radius: 1em;
    }
}