/*Pagina*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

/*Scroll Bar*/

body {
    --sb-track-color: var(--color3);
    --sb-thumb-color: var(--color2);
    --sb-size: 14px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: .5vw;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: .5vw;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

/*Variables*/
:root {
    --color1: #000000;
    --color2: #191919;
    --color3: #323232;
    --color4: #ffffff;
    --color5: #dbdbdb;
    --primary: var(--color5);
    --secondary: var(--color2)
}

/*Body*/
.mainCont {
    background-color: var(--color3);
}

.Mcont2 {
    background-image: url("./imgs/Ca-img1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/*PreLoad*/
.loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(10px);
    z-index: 99999;
}

.gyro:after, .gyro:before {
    --radius: 250;
    -webkit-animation: gyro 2s infinite linear;
            animation: gyro 2s infinite linear;
    background: var(--primary);
    border-radius: 100%;
    content: '';
    height: 20px;
    width: 20px;
    position: absolute; 
}
  
.gyro:before {
    --radius: -250;
    background: var(--secondary); 
}
  
@-webkit-keyframes gyro {
    0% {
      -webkit-transform: scale(1) rotate(0deg) translateY(calc(var(--radius) * 1%));
              transform: scale(1) rotate(0deg) translateY(calc(var(--radius) * 1%)); }
    50% {
      -webkit-transform: scale(0.5) rotate(1440deg) translateY(0);
              transform: scale(0.5) rotate(1440deg) translateY(0); }
    100% {
      -webkit-transform: scale(1) rotate(2920deg) translateY(calc(var(--radius) * 1%));
              transform: scale(1) rotate(2920deg) translateY(calc(var(--radius) * 1%)); } 
    }
@keyframes gyro {
    0% {
      -webkit-transform: scale(1) rotate(0deg) translateY(calc(var(--radius) * 1%));
              transform: scale(1) rotate(0deg) translateY(calc(var(--radius) * 1%)); }
    50% {
      -webkit-transform: scale(0.5) rotate(1440deg) translateY(0);
              transform: scale(0.5) rotate(1440deg) translateY(0); }
    100% {
      -webkit-transform: scale(1) rotate(2920deg) translateY(calc(var(--radius) * 1%));
              transform: scale(1) rotate(2920deg) translateY(calc(var(--radius) * 1%)); } 
    }

/*Barra de Navegación*/
/*Contenedor*/
.cont-nav {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: 80px;
    z-index: 9999;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color2);
    color: var(--color4);
    border-radius: .5vw;
    height: 50px;
    padding-left: 2vw;
    padding-right: 2vw;
    animation: bounceIn;
    animation-duration: .4s;
    position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.nav::after, .nav::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),var(--color5), var(--color2));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: .5vw;
    animation: 3s spin linear infinite;
}

.nav::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

/*Nav-logo*/
.nav-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.nav-img_logo {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/*Nav-listas*/
.nav-ul {
    position: absolute;
    flex-direction: column;
    border-radius: .5rem;
    top: 20px;
    right: 20px;
    height: 0;
    transform: scaleY(0);
    width: 10.5rem;
    gap: .5rem;
    overflow: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
    z-index: -10;
}

.nav-ul_li {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: .7em;
    -webkit-tap-highlight-color: transparent;
    font-size: 1em;
    opacity: 0;
}

.li-a {
    text-decoration: none;
    color: var(--color4);
    border-radius: 1em;
}

.log1 {
    background-color: var(--color5);
    color: var(--color1);
}

.log2 {
    background-color: var(--color1);
}

/*Menu Hamburguesa*/
.nav-bar__checkbox {
    display: none;
}

.nav-bar__label{
    cursor: pointer;
    font-size: 20px;
    -webkit-tap-highlight-color: transparent;
    padding: 2vw;
}

.nav-bar__checkbox:checked ~ .nav-ul {
    display: flex;
    opacity: 1;
    transform: scaleY(1);
    height: 20rem;
    width: 11rem;
    gap: .3rem;
    background-color: var(--color2);
    justify-content: end;

    .listCont, .logCont {
        display: flex;
        flex-direction: column;
        gap: .2em;
    }

    .nav-ul_li {
        opacity: 1;
        animation: backInUp;
        animation-duration: 1s;
    }

    .liLog {
        padding: .7em 1em;
        border-radius: .5em;
    }

    .li4 {
        margin-top: 2em;
        margin-bottom: .3em;
    }

    .li5 {
        margin-bottom: .5em;
    }
}

/*Seccion1-Slidder*/
.cont-sect1 {
    padding: 80px 20px 20px 20px;
}

.art1-Ca {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: auto;
    overflow: hidden;
    border-radius: .5vw;
    animation: fadeInUpBig;
    animation-duration: 1s;
}

.contAllImgs {
    display: flex;
    width: 100%;
    height: 20rem;
}

.imgCarrusel {
    object-fit: cover;
    border-radius: .5vw;
    width: calc(100% - 40px);
    position: absolute;
    height: 20rem;
    top: 15rem;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
}

.contImg {
    width: 100%;
    animation: fadeIn;
    animation-duration: 2s;
}

.btnsCarrusel {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    padding: .5em 1em;
}

.btnCa {
    padding: .5rem .6rem;
    border-radius: 100%;
    border: none;
    color: var(--color4);
    background-color: var(--color2);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.btnAni {
    animation: bounceIn;
    animation-duration: .45s;
}

.img1 {
    display: inline;
}

.img2, .img3 {
    display: none;
}

/*Texto en carrusel*/
.contImg > span {
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    border-radius: 0 6rem 0rem 0;
    color: var(--color5);
    padding: 7%;
    gap: 7px;
    font-size: .8rem;
}

/*Sección de Login*/
.contLog {
    backdrop-filter: blur(10px);
    min-height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
}

.art2-lo {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: fadeInDownBig;
    animation-duration: 2s;
}

.boxLog {
    min-height: 5rem;
    padding: .5rem;
    background-color: var(--color2);
    border-radius: .5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*Formulario - login*/
/*Sign In*/
.box-contForm {
    height: 50%;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    color: var(--color4);
    gap: 10px;
    margin: 0 2rem;
}

.textLab {
    font-weight: 100;
}

.inp {
    padding: .5rem;
    border-radius: 5px;
    border: none;
    background-color: var(--color3);
    color: var(--color4);
    outline: none;
}

.signIn {
    border: none;
    padding: .5rem;
    border-radius: 5px;
    background-color: var(--color5);
    font-weight: 500;
    width: 7em;
    margin-top: 1em;
    align-self: end;
    cursor: pointer;
}

/*Sección de registro*/
/*Articulo 3*/
.art3-re {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    animation: fadeInUpBig;
    animation-duration: 2s;
}
/*Contenedor de img y texto fomulario*/
.boxLog2 {
    background-color: var(--color2);
    padding: 10px;
    border-radius: .5vw;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

/*Formulario - Registro*/
/*Sign Up*/
.box-contForm2 {
    min-width: 50%;
    padding: 1rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    color: var(--color4);
    gap: 10px;
}
/*Labels de inputs*/
.textLab2 {
    font-weight: 100;
}

/*inputs*/
.inp2 {
    padding: .5rem;
    border-radius: 5px;
    border: none;
    background-color: var(--color3);
    color: var(--color4);
    outline: none;
    flex: 1;
    max-width: 20rem;
}

/*contenedor imagen*/
.box-contLogo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;

    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

/*boton registro*/
.signUp {
    border: none;
    padding: .5rem;
    border-radius: 5px;
    background-color: var(--color5);
    font-weight: 500;
    width: 7em;
    margin-top: 1em;
    align-self: end;
    cursor: pointer;
}

/*Seccion 2*/
.cont-sect2 {
    padding: 20px;
    display: flex;
    align-items: center;
}

.cont2 {
    display: none;
}

.sect2-art1 {
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.cont2-text, .cont2-img {
    height: 100%;
    color: var(--color4);
    animation: bounceInLeft;
    animation-duration: 2s;
}

.cont2-text {
    flex: 1;
}

.cont2-img {
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.cont2-text > h3{
    font-size: 2rem;
}

.aboutUs-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*Responsive*/
@media screen and (min-width: 1024px) {
    /*Checkbox*/
    .nav-bar__label{
        display: none;
    }

    /*header*/
    .cont-nav {
        height: 11vh;
    }
    
    .nav {
        height: 8vh;
    }
    /*Nav-listas*/
    .nav-bar {
        width: 100%;
        height: auto;
    }

    .nav-ul {
        position: static;
        display: flex;
        flex-direction: row;
        height: auto;
        transform: scaleY(1);
        width: 100%;
        overflow: visible;
        justify-content: space-between;
        gap: .5em;
        opacity: 1;
        z-index: 10;
    }

    .nav-ul_li {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        font-size: 2vh;
        font-weight: 400;
        opacity: 1;
    }

    .li-a {
        padding: 1vh 1.5vw;
        min-width: 4rem;
    }

    .le:hover {
        animation: headShake;
        animation-duration: .5s;
    }

    .leli {
        animation: pulse;
        animation-duration: .45s;
    }

    .li-a1 {
        background-color: var(--color5);
        color: var(--color1);
    }

    /*Seccion 1*/

    .cont-sect1 {
        height: 100vh;
    }

    .contAllImgs {
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    .imgCarrusel {
        width: 100%;
        min-height: 100vh;
        top: 50%;
    }

    .btnsCarrusel {
        top: 50%;
    }

    .btnCa {
        padding: .8rem .9rem;
    }

    .contImg{
        width: 100%;
    }

    .contImg > span{
        border-radius: 0 20rem 0 0;
        min-width: 45%;
        h2 {
            font-size: 3.2vh;
        }
        p {
            font-size: 3vh;
        }
    }

    /*SeccionLogeo*/
    .boxLog {
        padding: .5em;
    }

    .box-contForm {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    /*Sign-In*/
    .textLab {
        font-size: .9em;
        font-weight: 100;
    }

    /*Sign Up*/
    /*Contenedor de img y texto fomulario*/
    .boxLog2 {
        max-width: 50rem;
    }
    /*inputs*/
    .inp2 {
        max-width: 20rem;
    }

    /*Seccion 2*/
    .cont-sect2 {
        height: 100vh;
    }

    .cont2-text {
        h3 {
            font-size: 5vh;
        }

        p {
            font-size: 3vh;
        }
    }
}